In [1]:
import sqlite3
import os

In [2]:
db_file_name = "db/sample-superstore.sqlite"

if os.path.exists(db_file_name):
  os.remove(db_file_name)

con = sqlite3.connect(db_file_name)
cur = con.cursor()

In [3]:
cur.executescript("""

----------------- LOCATION ------------------

CREATE TABLE countries (
  id INTEGER PRIMARY KEY,
  name VARCHAR(255) NOT NULL
);

CREATE TABLE states (
  id INTEGER PRIMARY KEY,
  country_id INTEGER NOT NULL,
  name VARCHAR(255) NOT NULL,

  FOREIGN KEY (country_id) REFERENCES countries(id)
);

CREATE TABLE regions (
  id INTEGER PRIMARY KEY,
  country_id INTEGER,
  name VARCHAR(255) NOT NULL,

  FOREIGN KEY (country_id) REFERENCES countries(id)
);

CREATE TABLE cities (
  id INTEGER PRIMARY KEY,
  country_id INTEGER,
  state_id INTEGER,
  region_id INTEGER,
  name VARCHAR(255) NOT NULL,
  lat REAL,
  lng REAL,

  FOREIGN KEY (country_id) REFERENCES countries(id),
  FOREIGN KEY (state_id) REFERENCES states(id),
  FOREIGN KEY (region_id) REFERENCES regions(id)
);

CREATE TABLE markets (
  id INTEGER PRIMARY KEY,
  name VARCHAR(255) NOT NULL
);

----------------- CUSTOMERS ------------------

CREATE TABLE customers (
  id VARCHAR(10) PRIMARY KEY,
  name VARCHAR(255) NOT NULL,
  segment VARCHAR(255) NOT NULL,
  city_id INTEGER,
  market_id INTEGER,
  zip_code VARCHAR(255),

  FOREIGN KEY (city_id) REFERENCES cities(id),
  FOREIGN KEY (market_id) REFERENCES markets(id)
);

----------------- PRODUCTS ------------------

CREATE TABLE product_categories (
  id INTEGER PRIMARY KEY,
  name VARCHAR(255) NOT NULL
);

CREATE TABLE product_subcategories (
  id INTEGER PRIMARY KEY,
  category_id INTEGER NOT NULL,
  name VARCHAR(255) NOT NULL,

  FOREIGN KEY (category_id) REFERENCES product_categories(id)
);

CREATE TABLE products (
  id VARCHAR(255) PRIMARY KEY,
  subcategory_id INTEGER NOT NULL,
  name VARCHAR(255) NOT NULL,

  FOREIGN KEY (subcategory_id) REFERENCES product_subcategories(id)
);

----------------- ORDERS ------------------

CREATE TABLE orders (
  id VARCHAR(255) PRIMARY KEY,
  customer_id VARCHAR(10) NOT NULL,

  order_date DATE NOT NULL,
  ship_date DATE NOT NULL,
  ship_mode VARCHAR(255) NOT NULL,
  priority VARCHAR(255) NOT NULL,

  is_returned INTEGER DEFAULT 0,

  FOREIGN KEY (customer_id) REFERENCES customers(id)
);


CREATE TABLE order_products (
  id INTEGER PRIMARY KEY,
  order_id VARCHAR(255) NOT NULL,
  product_id VARCHAR(255) NOT NULL,

  sales REAL NOT NULL,
  quantity INTEGER NOT NULL,
  discount REAL NOT NULL,
  profit REAL NOT NULL,
  shipping_cost REAL NOT NULL,
  item_price REAL NOT NULL,
  item_cost REAL NOT NULL,

  FOREIGN KEY (product_id) REFERENCES products(id),
  FOREIGN KEY (order_id) REFERENCES orders(id)
);
""")
con.commit()

In [4]:
cur.close()
con.close()